// color scheme
$gray: #808080;
$bluesky:#92dce5;
$red: #ef6461;

// font
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

//font weight
$bold:700;
$regular:400;

// font size
$xxx-large:50px;
$xx-large:35px;
$x-large:27px;
$large:25px;
$medium:21px;
$regular:16px