.banner{
   width: 100%;
   height: 6.25rem;
   overflow: hidden;
   background-image: url(../img/image-banner.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
